jinja2
weasyprint
flask
flask-weasyprint
flask_restful
flask_login
flask_wtf
flask_bcrypt
flask-sqlalchemy
flask-security-too
Flask-Caching
sqlalchemy

requests
flask-cors
flask-marshmallow
marshmallow-sqlalchemy
flask-mail
redis
flask_jwt_extended
celery
numpy
